HELP.md
base-domains/target/
base-domains/.mvn/wrapper/maven-wrapper.jar
base-domains/src/main/**/target/
base-domains/src/test/**/target/

email-service/target/
email-service/.mvn/wrapper/maven-wrapper.jar
email-service/src/main/**/target/
email-service/src/test/**/target/

order-service/target/
order-service/.mvn/wrapper/maven-wrapper.jar
order-service/src/main/**/target/
order-service/src/test/**/target/

stock-service/target/
stock-service/.mvn/wrapper/maven-wrapper.jar
stock-service/src/main/**/target/
stock-service/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
